body
{
    background-color: #04275F;
    color:white
}
.card
{
    padding: 0;
    border: none !important;
}

.card-body
{
    border-top: none !important;
    background-color: #09347A;
    color:white !important;
}
.form-control
{
    background-color: #09347A;
    color:white !important;
    border:none !important;
}
.form-control:focus
{
    background-color: #09347A;
}
.form-control::placeholder
{
    color:white !important;
}